:host {
  width: 100%;
  height: 130px;
  display: block;
}

header {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  padding-left: 10%;

  .app-logo {
    width: 260px;
    height: 80px;
  }
}
