* {
  font-family: "Patua One", sans-serif;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #01a3a4;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
